In [1]:
import os
#from dotenv import load_dotenv
#load_dotenv()
import pandas as pd
import re 
import numpy as np
#from IPython.display import Image
#from IPython.core.display import HTML
import requests

In [2]:
df = pd.read_csv('../books.csv', error_bad_lines=False)

b'Skipping line 4012: expected 10 fields, saw 11\nSkipping line 5688: expected 10 fields, saw 11\nSkipping line 7056: expected 10 fields, saw 11\nSkipping line 10601: expected 10 fields, saw 11\nSkipping line 10668: expected 10 fields, saw 11\n'

In [3]:
to_replace=['en-US','en-GB','en-CA']
col_to_drop= ['ratings_count', 'text_reviews_count','isbn']
col_to_rename= {"# num_pages":"num_pages"}

def clean(data,to_replace,col_to_drop, col_to_rename):  
    data = data[data.average_rating > 4]
    data = data.drop(columns=col_to_drop)
    data = data.rename(columns=col_to_rename)
    data["authors"] = data["authors"].str.replace("J.K. Rowling-Mary GrandPré", "J.K. Rowling")
    for i in to_replace:
        data["language_code"] = data['language_code'].str.replace(i, "eng")
    
    return data

In [4]:
df= clean(df, to_replace, col_to_drop, col_to_rename)

In [5]:
df['authors'].value_counts()

Rumiko Takahashi                                                               43
P.G. Wodehouse                                                                 35
J.R.R. Tolkien                                                                 31
Stephen King                                                                   30
J.K. Rowling                                                                   23
                                                                               ..
Karel Čapek-M. Weatherall-R. Weatherall                                         1
Jane Austen-Vivien Jones                                                        1
Jay Kopelman-Melinda Roth                                                       1
Louise DeSalvo-Mitchell Alexander Leaska-Vita Sackville-West-Virginia Woolf     1
Kathleen E. Digan                                                               1
Name: authors, Length: 3515, dtype: int64

In [6]:
df.loc[df['authors'].str.contains('Tolkien'), 'authors'] = 'J.R.R. Tolkien'

In [7]:
author=[]
for i in df['authors']:
    h= i.split("-")
    author.append(h[0])

In [9]:
df

,bookID,title,authors,average_rating,isbn13,language_code,num_pages
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,9780439785969,eng,652
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,9780439358071,eng,870
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,9780439554930,eng,320
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,9780439554893,eng,352
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.55,9780439655484,eng,435
...,...,...,...,...,...,...,...
13705,47692,American Gods,Neil Gaiman,4.11,9781594970993,spa,477
13706,47693,The Day I Swapped My Dad for Two Goldfish,Neil Gaiman-Dave McKean,4.03,9780060587017,eng,64
13708,47697,The Sandman: King of Dreams,Alisa Kwitney-Neil Gaiman,4.62,9780811835923,eng,180
13712,47708,The Faeries' Oracle,Brian Froud-Jessica Macbeth,4.43,9780743201117,eng,224
13713,47709,The World of The Dark Crystal,Brian Froud,4.29,9781862056244,eng,132

In [10]:
df["author"] = author
df = df[["bookID","title","author","average_rating","language_code","num_pages"]]
df

,bookID,title,author,average_rating,language_code,num_pages
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,eng,652
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,eng,870
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,eng,320
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,eng,352
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.55,eng,435
...,...,...,...,...,...,...
13705,47692,American Gods,Neil Gaiman,4.11,spa,477
13706,47693,The Day I Swapped My Dad for Two Goldfish,Neil Gaiman,4.03,eng,64
13708,47697,The Sandman: King of Dreams,Alisa Kwitney,4.62,eng,180
13712,47708,The Faeries' Oracle,Brian Froud,4.43,eng,224
13713,47709,The World of The Dark Crystal,Brian Froud,4.29,eng,132

In [11]:
df['author'].value_counts()

Stephen King             61
J.R.R. Tolkien           58
Rumiko Takahashi         43
P.G. Wodehouse           43
Roald Dahl               41
                         ..
Mary Jane Maffini         1
Theodosius Dobzhansky     1
James Campbell            1
Joy Harjo                 1
Kathleen E. Digan         1
Name: author, Length: 2275, dtype: int64

In [13]:
cutoffs = [0,100,500,1000,10000]
book_labels = ['short', 'medium', 'large','XXL']
df['pages'] = pd.cut(df['num_pages'], cutoffs, labels = book_labels)
df['pages'].value_counts()

/home/clara/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

medium    3814
large     1114
short      558
XXL        235
Name: pages, dtype: int64

In [14]:
df = df[["bookID","title","author","average_rating","language_code","pages"]]
df

,bookID,title,author,average_rating,language_code,pages
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,eng,large
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,eng,large
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,eng,medium
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,eng,medium
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.55,eng,medium
...,...,...,...,...,...,...
13705,47692,American Gods,Neil Gaiman,4.11,spa,medium
13706,47693,The Day I Swapped My Dad for Two Goldfish,Neil Gaiman,4.03,eng,short
13708,47697,The Sandman: King of Dreams,Alisa Kwitney,4.62,eng,medium
13712,47708,The Faeries' Oracle,Brian Froud,4.43,eng,medium
13713,47709,The World of The Dark Crystal,Brian Froud,4.29,eng,medium

In [16]:
df.sort_values(by='average_rating', ascending=False)

,bookID,title,author,average_rating,language_code,pages
963,2843,Literature Circle Guide: Bridge to Terabithia:...,Tara MacCarthy,5.00,eng,short
13050,45155,Ecuador Nature Guide: Southwest Forests: Sozo...,Chris Jiggins,5.00,eng,short
11069,36853,Tyrannosaurus Wrecks (Stanley #1),Laura Driscoll,5.00,eng,short
7434,23276,Taxation of Mineral Rents,Ross Garnaut,5.00,eng,medium
6841,21248,Lake Orion (Images of America: Michigan),James E. Ingram,5.00,eng,medium
...,...,...,...,...,...,...
10261,33185,Hamlet,William Shakespeare,4.01,eng,medium
10262,33186,Hamlet Prince of Denmark,William Shakespeare,4.01,eng,medium
5859,17487,Five Go Adventuring Again (Famous Five #2),Enid Blyton,4.01,eng,medium
3668,11316,The Big Sleep (Philip Marlowe #1),Raymond Chandler,4.01,eng,medium
3150,9802,Fortress of Solitude / The Devil Genghis,Kenneth Robeson,4.01,eng,medium

Las dos variables son: pages, idiomas, y te de los 5 primeros ordenados por el average_rating

In [20]:
df1=df.groupby(['language_code','pages'], as_index=False).agg({'title':'count'})
#si hay más de un resultado, devuelve hasta 5
#si solo hay un resultado, devuelve ese resultado

AttributeError: 'DataFrame' object has no attribute 'sort'

In [22]:
.sort().apply(lambda x: x.sort_values(['average_rating']))

AttributeError: 'DataFrame' object has no attribute 'sort'